body {
    height: 90vh;
    background-color: #222;
    font-family: sans-serif;
    font-size: 1.1em;
}
body, section > div > .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
}
section > div {
    overflow: hidden;
}
section > div > .overlay {
    width: 200px;
    height: 200px;
    background-color: #222;
    z-index: 2;
    position: relative;
    bottom: 0;
    transition: all 0.3s;
    color: #fff;
    background-color: #22222299;
}
section > div > img:hover + .overlay, section > div > .overlay:hover {
    bottom: 205px;
}